# OCR settings
OCR_TESSERACT_LANG="rus+eng"
# OCR_TESSERACT_LANG=rus
OCR_TESSERACT_PSM=6
OCR_TESSERACT_DPI=300

# Enhance settings 
ENHANCE_RESIZE_WIDTH=1800
ENHANCE_BRIGHTNESS=40
ENHANCE_CONTRAST=50
ENHANCE_SHARPEN_RADIUS=1.5